.header__logo svg {
   width: fit-content !important;
   height: 60px !important;
}

@media (max-width: 768px) {
   .header__logo svg {
      width: 3rem !important;
      height: 3rem !important;
      fill: #111812 !important;
   }
}