.admin-projects {
   img {
      width: 100% !important;
   }

   .project__des {
      margin-top: 1rem;
      margin-bottom: 1rem;
   }
}

.admin-projects img {
   width: 100% !important;
}

.admin-projects .project__des {
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.admin-projects .project__des-icon {
   display: none;
}

.order-container {
   background-color: black;
   color: white;
   border-radius: 50%;
   width: 2.5rem;
   height: 2.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right : 1rem
}
